<h1>Portfolio Items</h1>

<% @portfolio_items.each do |pi| %>
  <%= pi.title %><br />
  <%= pi.subtitle %><br />
  <%= pi.body %><br/>
  <%= image_tag pi.thumb_image if !pi.thumb_image.nil? %><br />
<% end %>
